/*
 * Custom CSS
 * arora.io
*/

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  /*background: #b4000d;*/
  background: #000000;

  font-family: 'Raleway', sans-serif;
  color:#ffffff;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.015em;
}

p {
  font-size: 23px;
  padding:5px;
}
li{
  font-size: 23px;
  padding:5px; 
}
h2 {
 font-size: 12px;
  padding:5px;
}
a,
a:active,
a:visited {
  color:#8e8e8e;
  text-decoration:none;
  font-weight:bold;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.links {
  padding-top: 15px;
	box-sizing: border-box;
	max-width: 500px;
	margin-left: auto; margin-right: auto;
	font-size: 25px;
}

.links > a {
	display: inline-block;
	padding: 0 5px;
	transform-origin: top;
	perspective: 600px;
}

.links > a:hover {
	transform: scale(1.2);
}

.intro-rect {
  position: absolute;
  margin: auto;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 280px;
  width: 80%;
  text-align: center;
  display: block;
/*background:#FFF;*/
  /*background: #b4000d*/
}

/* =======================MEDIA QUERIES==================================== */
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 48px;
  }
  h1::after {
    height: 8px;
  }
}

@media only screen and (max-width: 568px) {
  .intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 30px;
  }
  h1::after {
    height: 6px;
  }
  p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 28px;
  }
  h1::after {
    height: 4px;
  }
}

/* ===================FADE INS============================================== */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
}

.fade-in.one {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fade-in.two {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

.fade-in.three {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
